html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
     background: linear-gradient(to bottom, #e55934, #FFCFC1); /*Standard*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.example-print {
    display: none;
}
@media print {
   .example-screen {
       display: none;
    }
    .example-print {
       display: block;
    }
}
.hide{
	display:none;
}
.show{

	visibility: : hidden;
}

.vidblock{
	
	/*height:400px; 
	width:600px;*/
	

}
/*.vidcontainer{
	height:400px;
	width:600px;
}*/
