html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
     background: linear-gradient(to bottom, #e55934, #FFCFC1); /*Standard*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: snubnose;
    src: url('./PermanentMarker.ttf');
}

.example-print {
    display: none;
}
@media print {
   .example-screen {
       display: none;
    }
    .example-print {
       display: block;
       margin:0!important;
    }
}
.hide{
	display:none;
}
.show{

	visibility: : hidden;
}

.vidblock{
	
	/*height:400px; 
	width:600px;*/
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 2px;

	

}
/*.vidcontainer{
	height:400px;
	width:600px;
}*/
